{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="d-flex flex-row justify-content-center">
    <div>
        <h1>
            궁물쌤의 운세 게시판 &nbsp&nbsp&nbsp&nbsp{% if category %}<span class="badge badge-secondary">{{category}}</span>{% endif %}
        </h1>   
    </div>    
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div>        
        {% if user.is_authenticated %}
            {% if user.is_superuser or user.is_staff %}
            
                <a class="btn btn-warning" href="/fortune_board/create_post/" role="button">
                    <i class="fas fa-pen"></i>
                    &nbsp 새로운 글 작성
                </a>
            {% endif %}
        {% endif %}
    </div>    
</div>
<hr/>
<div class="col-md-12 mx-auto">    
    <div class="row">            
        <div id="main_area" class="col-md-8 mx-auto">  
            {% if post_list.exists %}
                {% for p in post_list %}       
                    <div>
                        <h2>
                            <div align="center"><a href='{{ p.get_absolute_url }}'>
                                {{  p.title }}</a>                        
                                &nbsp&nbsp&nbsp&nbsp
                                {% if p.category %}     
                                    <span class="badge badge-primary">{{ p.category }}</span>   
                                {% else %}
                                    <span class="badge badge-primary">미분류</span> 
                                {% endif %}                                 
                            </div>
                        </h2>
                            <div align="right" class="card-footer">
                                by <a href="#">{{p.author}}</a>
                            </div>
                            <div align="right" class="card-footer">
                                Post on {{p.created_at|date:"Y-m-d"}}</a>
                            </div> 
                    </div>                            
                    <div class="card mb-4">   
                        {% if p.post_image %}         
                            <img class="figure-img img-fluid rounded mx-auto" src="{{ p.post_image.url }}"  alt="{{ p }} post image" >   
                        {% endif %}         
                    </div>
                    <p class ="card-text"> {{  p.get_content_markdown | truncatewords_html:50 | safe }} </p>

                    {% if p.tag %}
                    <i class="fas fa-tag"></i>
                        
                        {% for t in p.tag.iterator %}
                            <a href="{{ t.get_absolute_url }}"><span class="badge badge-light">태그 : {{ t }}</span></a>
                        {% endfor %}
                        <br/>
                        <br/>
                    {% endif %}     
                    <br/>
                    <br/>

                {% endfor %}
            {% else %}
                        <h3>아직 게시물이 없습니다.</h3>
            {% endif %}
            <br>
        </div>
        <div class="col-md-3 mx-auto" id="category-card">
            {% comment %} <h5 class="card-header">카테고리</h5> {% endcomment %}
            <h5 align="left">Category</h5>
            <div class="card-body">
                <div class="row">
                    <ul align="left">
                        {% for category in categories %}
                            <li>
                                <a href="{{ category.get_absolute_url }}"> {{category}} ({{ category.post_set.count }}) </a>  
                            </li>                   
                        {% endfor %}
                            <li><a href="/fortune_board/category/no_category/"> 미분류 ({{ no_category_post_count }})</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% if is_paginated %}
    <!--Pagination-->
    <ul class="pagination justify-content-center mb-4">
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr;Older</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">&larr;Older</a>
            </li>
        {% endif %}

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer&rarr;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer&rarr;</a>
            </li>
        {% endif %}

    </ul>
{% endif %}
{% endblock content %}>