{% extends "base.html" %}
{% load static %}
{% block content %}

<div id ="post-area">
    <div class="col-md-8 mx-auto text-left">
        
        <h2 align="center">{{  post.title }}</h2>

        {% if post.category %}
            <span class="badge badge-link float-end">category: {{post.category}}</span>
        {% else %}
            <span class="badge badge-link float-end">category: 미분류</span>
        {% endif %}

        <hr/>     
        <div align="right">
            {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-info btn-sm float-end" href="/fortune_board/update_post/{{post.pk}}/" role="button"><i class="fas fa-pen"></i>포스트 수정하기</a>
            {% endif %}
        </div>
        <h5>
            <div align="left">   -글쓴이: {{post.author}}( {{post.created_at|date:"Y-m-d"}})</div>
        </h5>   
        <br>
        <div class="card mb-4">
            {% if post.post_image %}
                <img class="figure-img img-fluid rounded mx-auto" src="{{ post.post_image.url }}"   width="400" alt="{{post.title}} post_image">
            {% endif %}

        </div>
        <p> {{  post.get_content_markdown | safe }} </p>    

        {% if post.tag %}
            <i class="fas fa-tag"></i>
            {% for t in post.tag.iterator %}
                <a href="{{ t.get_absolute_url }}"><span class="badge badge-link">tag: {{ t }}</span></a>
            {% endfor %}
            <br/>
            <br/>
        {% endif %}
        
    </div>
    <br> 
</div>
<div id ="comment-area">
    <div class="col-md-8 mx-auto text-left">
        <p>comment area</p>
    </div>
</div>

{% endblock content %}}>