{% extends "base.html" %}
{% load static %}
{% block content %}

<div id ="post-area">
    <div class="col-md-8 mx-auto text-left">
        
        <h3>{{  post.title }}</h3>

        {% if post.category %}
            <span class="badge bg-secondary float-end">분류: {{post.category}}</span>
        {% else %}
            <span class="badge bg-secondary float-end">분류: 미분류</span>
        {% endif %}

        <hr/>        
        <h6> <div align="right"> {{post.created_at}}   -글쓴이: {{post.author}}</div></h6>   
        <br>
        <div class="card mb-4">
            {% if post.post_image %}
                <img class="figure-img img-fluid rounded mx-auto" src="{{ post.post_image.url }}"   width="400" alt="{{post.title}} post_image">
            {% endif %}

        </div>
        <p> {{  post.content }} </p>    

        {% if post.tag %}
            <i class="fa-solid fa-tag"></i>
            {% for t in post.tag.iterator %}
                <a href="{{ t.get_absolute_url }}"><span class="badge bg-secondary">{{ t }}</span></a>
            {% endfor %}
            <br/>
            <br/>
        {% endif %}
        
    </div>
    <br> 
</div>
<div id ="comment-area">
    <div class="col-md-8 mx-auto text-left">
        <p>comment area</p>
    </div>
</div>

{% endblock content %}}>