{% extends "base.html" %}
{% load static %}
{% block content %}


<div id ="post-area">
    <div class="col-md-8 mx-auto">
        <h1>Post 수정하기</h1>
        <hr/>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <div align="center">
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </div>
        </form>
    </div>
</div>
    
        
{% endblock %}