{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <div class="col-md-8 mx-auto text-center">
        <h2>궁금한 것에 대한 답변입니다.</h2>
        <div class="danger">
            (재차 삼차 물어보는 것은 점에 대한 불신입니다.
        점의 효력이 떨어지는 것이니 조심하시기 바랍니다.)
        </div>
    </div>

    <div class="col-md-8 mx-auto text-left">
        <hr>

    </div>
    <div  class="col-md-8 mx-auto text-left"><br>

        <div class="col-md-8 mx-auto text-center">
            <div class="result">
                <h2>{{name}} 괘</h2>
            </div>
        </div>
        <hr>
         괘에 대한 설명 : <br>
            {{ content }}
        <br>
        <hr>
        <div>
                질문 내용:
            <h4>
            <br> {{ question }}
            </h4>
        </div>
        <div class="category">
            질문 분야:
            {% if category == 'hope' %}
            소원
            {% elif category == 'consult' %}
            상담
            {% elif category == 'business' %}
            사업
            {% elif category == 'trade' %}
            매매
            {% elif category == 'contract' %}
            계약
            {% elif category == 'law' %}
            소송
            {% elif category == 'job' %}
            취업
            {% elif category == 'promotion' %}
            승진/진급
            {% elif category == 'school' %}
            입학
            {% elif category == 'move' %}
            이사
            {% elif category == 'travel' %}
            여행
            {% elif category == 'love' %}
            연애/사랑
            {% elif category == 'marry' %}
            결혼
            {% endif %}
        </div>
        <br>질문자:{{ user }}님
        <br>내어난 날: {{birth_day}}
        <br>태어난 시: {{birth_time}}
        <br>점을 친 시간: {{createdTime}}
        <hr>
        <br>
        <div class="predict">
            질문에 대한 예언:
            <br>
            {{ jum }}
        </div>
        <br>
        <hr>
        <br>
        <div>
            위 예언을 가벼운 마음으로 여기시고 너무 맹신하지는 마시기 바랍니다.<br>
            이 콘텐츠를 즐기는 마음으로 생각하세요.<br>
            매일 행복하시길....바라며...
        </div>

    </div>
</div>

{% endblock %}