{% extends "base.html" %}
{% load static %}
{% block content %}
<div  class="col-md-8 mx-auto text-left">
    <div class="col-md-8 mx-auto text-center">
        <h1>미래가 궁금하시면 물어보세요</h1>
        <br>
        <button type="button" class="btn btn-info"><a href="{% url 'yughyo:question_new' %}">질문하기</a></button>
    </div>
    <div>
        <table>
            <div class="container-fluid" >
                <div class="row">
                    <tr>
                        <th colspan="2">지난 질문들~~</th>
                    </tr>
                    <hr>
                    <td>질문</td>
                    <td>날짜</td>
                    {% for i in list %}
                        <tbody>
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{i.created_at}}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </div>
            </div>
        </table>
    </div>
</div>
{% endblock %}