{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-md-8 mx-auto text-center">
    <h1>궁금한 것을 물어보세요. 선생님(쌤)에게 </h1>
    <h2>궁물쌤이 알려줍니다</h2>
    질문을 입력 하세요.<br> 되도록이면 자세히 입력하시기 바랍니다.<br> 
    질문의 결과가 (예/아니오) 나오도록 질문을 하시면 더 이해하기 좋습니다.<br> 
    200자 이내로 입력하세요. 
    <br>
    <div  class="col-md-8 mx-auto text-left">
        <p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit" class="btn btn-primary">알고싶어요</button>
            </form>
        </p>
    </div>
</div>


{% endblock content %}}>