<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="title">
    <h1>{{ g_id }}&nbsp;{{g_name}}</h1>
</div>
<div class="big_content">
    <h2>{{g_content}}</h2>
</div>
<div class="hyo_1">
    1효: {{h_content_1}}
</div>
<div class="hyo_2">
    2효: {{h_content_2}}
</div>
<div class="hyo_3">
    3효: {{h_content_3}}
</div>
<div class="hyo_4">
    4효: {{h_content_4}}
</div>
<div class="hyo_5">
    5효: {{h_content_5}}
</div>
<div class="hyo_6">
    6효: {{h_content_6}}
</div>

</body>
</html>