{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-md-8 mx-auto text-center">
    <h1>로그인 페이지</h1>
    <hr>
    <br>
    {% if user.is_authenticated %}

    <h3>{{ user.username }}님 환영합니다.</h3>
    <a href="{% url 'accounts:logout' %}">logout</a>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            <input name="username" type="text">
            <input name="password" type="password">
            <input type="submit" value="로그인">
        </form>

    <a href="{% url 'accounts:signup' %}">회원가입</a>
</div>

{% endif %}
{% endblock %}}