{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-md-8 mx-auto text-left">
    <h1>{{ user }}'s profile</h1>
    <hr>
    <br>
    <ul>
        <li>email: {{ user.email }}</li>
        <li>name: {{ user.last.name }} {{ user.first_name }}</li>
        <li>별칭: {{ user.customer_id }}</li>
        <li>태어난 일: {{ user.birth_day }}</li>
        <li>태어난 시간: {{ user.birth_time }}</li>
        <li>음력: {{ lunar }}</li>
        <li>사주(한글): {{ gabja }}</li>
        <li>사주(한자): {{ hanja }}</li>
    </ul>
</div>

{% endblock %}}