{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-md-8 mx-auto text-center">
회원가입 페이지
<hr>
<br>

<form action="" method="POST">
    {% csrf_token %}
    <p>
        아이디:
        <br><input name="username" type="text">
    </p>
    <P>
        비밀번호:
        <br><input name="password" type="password">
    </P>
    <p>
        이름:
        <br><input name="first_name" type="text">
    </p>
    <p>
        성:
        <br><input name="last_name" type="text">
    </p>
    <p>
        이메일:
        <br><input name="email" type="text">
    </p>
    <p>
        별칭(아이디)
        <br><input name="customer_id" type="text">
    </p>
    <p>
        생년월일(양력을 입력하세요,연도를 입력해서 사용 바람)
        <br><input name="birth_day" type="date">
    </p>
    <p>
        태어난 시(예:오전 09:01:04로 입력 바람):
        <br><input name="birth_time" type="time">
    </p>
   <p>
       <input type="submit" value="회원가입">
   </p>

</form>
</div>
{% endblock %}