{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-md-8 mx-auto text-center">
<h1>회원가입 페이지</h1>
<hr>
<br>

<p align="center">
    모든 빈칸을 채워주시기 바랍니다!!
</p>

<form action="" method="POST">
    {% csrf_token %}
    <div align = "left">
        <p>
            아이디(영어로 입력):
            <br><input name="username" type="text">
        </p>
        <P>
            비밀번호:
            <br><input name="password" type="password">
        </P>
        <p>
            이름:
            <br><input name="first_name" type="text">
        </p>
        <p>
            성:
            <br><input name="last_name" type="text">
        </p> {% endcomment %}
        <p>
            이메일:
            <br><input name="email" type="text">
        </p>
        <p>
            별칭(한글 닉네임)
            <br><input name="nick_name" type="text">
        </p>
        <p>
            생년월일(양력을 입력하세요, 키보드로 입력해서 사용 가능합니다.)
            <br><input name="birth_day" type="date">
        </p>
        <p>
            태어난 시(예:오전 09:01:04로 입력 바람니다.):
            <br><input name="birth_time" type="time">
        </p>
        <p>
            아바타 사진 :
            <input type="file" name="image">
        </p>
    </div>
    
   <p>
       <input type="submit" value="회원가입">
   </p>

</form>

</div>

{% endblock %}