
{% load static %}

<head>
    <meta charset="UTF-8">
    <title> 궁물쌤 </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'single_pages/css/landing.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/2dda1c66a8.js" crossorigin="anonymous"></script>
</head> 

{% include 'header.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-between">
             <div class="col-lg-6">
                <h1 class="mt-5"> 궁물쌤 홈페이지에 대한 설명 </h1>
                {% comment %} <p>홈페이지 소개 글</p> {% endcomment %}
                <br/>
                <p>궁금한 것을 물어보세요...선생님에게...를 줄인말 궁물쌤입니다.</p>
                <p>미래에 대한 궁금함이나 동양철학에 대한 궁금한 것을 공유할 수 있는 장을 만들어서</p>
                <p>동양철학에 대한 학문을 연구하고 공유하여 더욱 발전시킬 수 있는 곳이 되었으면 하는 마음입니다.</p>
                <p>동양철학에 대하여 많은 관심을 가질 수 있는 홈페이지가 되었으면 합니다.</p>
                <p></p>
             </div>
             <div class="col-lg-5 mt-5">
                 <h2>Blog - Recent Posts</h2>
                 {% for post in recent_posts %}
                     <div class="card mt-1">
                         <div class="card-body">
                             <h6><a href="{{ post.get_absolute_url }}" class="text-decoration-none text-dark">
                                {{ post.title }}
                            </a>
                            </h6>
                             <span class="badge rounded-pill bg-light float-end text-dark">
                                {{ post.author.username }}&nbsp;&nbsp;{{ post.created_at }}
                            </span>
                         </div>
                     </div>
                 {% endfor %}
             </div>
        </div>
    </div>
</section>
{% endblock %}

{% include 'footer.html' %}
