
<div class="b-example-divider"></div>

<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
      <p class="text-muted">&copy;신비 2023</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Reference</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="http://iching.kr" class="nav-link p-0 text-muted">대동학회</a></li>

      </ul>
    </div>

    <div class="col mb-3">
      <h5>Contact</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">이메일: gungmul@kakao.com</a></li>

      </ul>
    </div>

    <div class="col mb-3">
      <h5>Advertisement</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="{% url 'single_pages:flower' %}" class="nav-link p-0 text-muted">꽃배달</a></li>

      </ul>
    </div>
  </footer>
</div>
