{% load static %}
<h1 class="visually-hidden">Headers examples</h1>

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{% url 'today_api:today' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="{% url 'today_api:today' %}"/></svg>

        <span class="fs-4"><img src="{% static 'size_64_2.png' %}"> 궁물쌤</span>
      </a>

      <ul class="nav nav-pills">
<!--        <li class="nav-item"><a href="" class="nav-link active" aria-current="page">Home</a></li>-->
        <li class="nav-item"><a href="{% url 'today_api:today' %}" class="nav-link">오늘의 운세</a></li>
        <li class="nav-item"><a href="{% url 'my_today:mytoday' %}" class="nav-link">나만의 운세</a></li>
        <li class="nav-item"><a href="{% url 'yughyo:yughyo_front' %}" class="nav-link">주역점</a></li>
        <li class="nav-item"><a href="{% url 'today_api:about' %}" class="nav-link">About</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a href="{% url 'accounts:profile' pk=user.pk %}" class="nav-link">profile</a></li>
          {% endif %}
      </ul>
      <div class="col-md-3 text-end">
        {% if not user.is_authenticated %}
          <button type="button" class="btn btn-outline-primary me-2"><a href="{% url 'accounts:login' %}">로그인</a></button>
        {% else %}
          <button type="button" class="btn btn-outline-primary me-2"><a href="{% url 'accounts:logout' %}">로그아웃</a></button>
        {% endif %}
        <button type="button" class="btn btn-info"><a href="{% url 'accounts:signup' %}">회원가입</a></button>
      </div>
    </header>
  </div>
